<!DOCTYPE html>
<html>
<head>
    <title>Docker Container Storage Graph</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
</head>
<body>
    <progress id="storageProgress" max="100" value="{{consumedPercentage}}"></progress>
    <p>Consumed Space: {{ consumedSpaceText }}</p>
    <p>Total Space: {{ totalSpaceText }}</p>
</body>
</html>